*{
    padding: 0;
    margin: 0;
}
ol,ul{
    list-style-type: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
a{
    text-decoration: none;
}
body{
    width: auto;
    height: 100%;
    background-color: beige;
}
form{
    width: auto;
    height: 100%;
    text-align: center;
}
body form p{
    font-size: 28px;
    left: 50%;
}
form textarea{
    font-size: 20px;
}
form input{
    font-size: 20px;
    margin: 10px 30px;
}
